@model IEnumerable<AdminPaneNew.Areas.OfficialAdmin.Models.AssignTest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OfficialAdmin/Views/Shared/Layout.cshtml";
}
@section Pagename {

    View Assigned Test

}
<h2><b>Index</b></h2>
<br />
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IeltsTest.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IeltsTest.Category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentDetail.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentDetail.FatherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentDetail.RollNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentDetail.JoiningDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IeltsTest.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IeltsTest.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentDetail.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.StudentDetail.FatherName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.StudentDetail.RollNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentDetail.JoiningDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

            </tr>
        }

    </table>
</div>