@using AdminPaneNew.Areas.OfficialAdmin.Models
@model IEnumerable<AdminPaneNew.Areas.OfficialAdmin.Models.AssignTest>
@{
    ViewBag.Title = "StudentDahsboard";
    Layout = "~/Views/Shared/Layout.cshtml";
    dbcontext db = new dbcontext();
    int sess = Convert.ToInt32(Session["student"]);
    var cat = db.Categories.ToList();
    var test = db.AssignTests.Where(x => x.Studentid == sess).ToList();
}

@section Keyword {
    <meta name="description" content="Template built for Business & Financial, Consulting, Accounting, Broker">
    <meta name="keywords" content="advisor, analytical, audit, broker, brokerage, business, company, Consultech, consulting, consulting psd, finance, financial, insurance, trader, trading">
}

@*BreadCrumb*@

<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="@Url.Action("Home")" title="Apex Ielts" rel="home" class="trail-begin">Home</a>
                        <span class="sep"><span class="fa fa-angle-right" aria-hidden="true"></span></span>
                        <span class="trail-end">Student Dashboard</span>
                    </div>
                </div>
            </div>
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Student Dashboard</h1>
            </div>
        </div>
    </div>
</div>

@*End BreadCrumb*@
<div class="container" style="padding:40px 0px">
    <div class="col-md-9">
        @*<div class="image-wrap">
                <img src="~/UploadedFiles/@Model.IeltsTest.Image" alt="Image">
                </div>
                <div class="wprt-spacer clearfix" data-desktop="23" data-mobi="20" data-smobi="20"></div>
                <h3 class="heading font-size-24 margin-bottom-8">@Model.IeltsTest.Name</h3>
                <small>@Model.IeltsTest.Category.Name</small>
                <div class="desc">
                    <p class="margin-bottom-13">@Model.IeltsTest.Url</p>
            </div>*@
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IeltsTest.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IeltsTest.TestType)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IeltsTest.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IeltsTest.TestType)
                        </td>
                        <td>
                            @Html.ActionLink("Download", "DownloadFile", new { file = item.IeltsTest.Image })
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
    <div class="col-md-3">
        <nav class="wprt-navbar style-1">
            <h3>Assigned Modules</h3>
            <ul class="menu">
                @foreach (var n in cat)
                {
                    <li class="nav-item">
                        @Html.ActionLink(n.Name, "StudentDahsboard", new { id = n.Categoryid, sid = sess })
                        @*<a href="">@n.IeltsTest.Name</a>*@
                    </li>
                }
            </ul>
        </nav>
        @*<div class="wprt-spacer clearfix" data-desktop="35" data-mobi="20" data-smobi="20"></div>*@

        @*<div class="wprt-spacer clearfix" data-desktop="47" data-mobi="30" data-smobi="20"></div>*@
        @*<div class="wrap quick">
                <div class="wprt-headings clearfix">
                    <h2 class="heading font-size-24 margin-bottom-5">@pagdata.Name</h2>
                    <div class="sub-heading font-size-14">@Html.Raw(pagdata.Description)</div>
                </div>
                <div class="wprt-spacer clearfix" data-desktop="20" data-mobi="10" data-smobi="10"></div>
                <div class="wrap-button">
                    <a class="wprt-button btn-small" href="@Url.Action("ContactUs")">Contact Us</a>
                </div>
            </div>*@
        <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="30"></div>
    </div>
</div>
