@model IEnumerable<AdminPaneNew.Areas.OfficialAdmin.Models.Gallery>

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Areas/OfficialAdmin/Views/Shared/Layout.cshtml";
}



@section Pagename {

    Album

}
<h2><b>Gallery</b></h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Albums.AlbumName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Images)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.date)
                    </th>*@
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Albums.AlbumName)
                </td>
                <td>
                    <img src="~/UploadedFiles/@item.Images" width="100" />
                </td>
                @*<td>
                          @Html.DisplayFor(modelItem => item.date)
                    </td>*@
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.GalleryId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.GalleryId }) |*@
                    @Html.ActionLink("Remove", "Remove", new { id = item.GalleryId })
                    @*<a href="@Url.Action("Remove", "Albums")">Remove</a>*@
                </td>
            </tr>
        }

    </table>
</div>